<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Client Architecture</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                Client Architecture
            </div>
        </header>
        <div id="body">
            <section class="">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Mészáros Gábor</p>
                </div>
            </div>
        </footer>
        <script type="text/javascript" data-main="Scripts/Modules/main" src="~/Scripts/require.js"></script>
        @RenderSection("scripts", required: false)
    </body>
</html>
