<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Client Architecture</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/underscore")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                Dashboard
            </div>
        </header>
        <div>
            <section class="">
                @RenderBody()
            </section>
        </div>
        <script type="text/javascript" src="~/Scripts/Modules/exceptions.js"></script>
        <script type="text/javascript" src="~/Scripts/Modules/observable.js"></script>
        <script type="text/javascript" src="~/Scripts/Modules/Utility/general.js"></script>
        <script type="text/javascript" src="~/Scripts/Modules/Utility/array.js"></script>
        <script type="text/javascript" src="~/Scripts/Modules/Utility/string.js"></script>
        <script type="text/javascript" src="~/Scripts/Modules/Host/hostapi.js"></script>
        <script type="text/javascript" src="~/Scripts/Modules/Client/clientapi.js"></script>
        <script type="text/javascript" src="~/Scripts/Modules/main.js"></script>
        @RenderSection("scripts", required: false)
    </body>
</html>
